
#loginsignup tbody td:first-child{
	text-align: right;
	border-right: 3px solid white;
}

#loginsignup {
	margin-right:auto;
	margin-left:auto;
	padding-top: 10%;
	font-size: 3em;
}

#subjects {
	padding: 0% 5%;
}

.flip-container img {
	margin: 30%;
}

.flip-container .back .fContent {
	margin: 20%;
}

#subjectPicker {
	border: 2px solid white;
	padding: 10px;
	margin-top: 20px;
}

#subjectPicker h3 {
	margin-top: 10px;
}

h1.title {
	margin-bottom: 20px;
}

.back h3 {
	-webkit-margin-before: 2.5em;
}

a.flip-container {
	color:white;
	text-decoration: none;
}