@c1: #00caff;
@c2: #f25648;
@c3: #4FB99F;
@c4: #f2b635;
@c5: #00a0e6;

#loginsignup tbody td:first-child{
	text-align: right;
	border-right: 3px solid white;
}

#loginsignup {
	margin-right:auto;
	margin-left:auto;
	padding-top: 10%;
	font-size: 3em;
}

#subjects {
	padding: 0% 5%;
}

.flip-container img {
	margin: 30%;
}

.flip-container .back .fContent {
	margin: 20%;
}

#subjectPicker {
	border: 2px solid white;
	padding: 10px;
	margin-top: 20px;
}

#subjectPicker h3 {
	margin-top: 10px;
}

h1.title {
	margin-bottom: 20px;
}

.back h3 {
	-webkit-margin-before: 2.5em;
}

a.flip-container {
	color:white;
	text-decoration: none;
}

.front {
	background-size:  40% 40%;
	background-repeat: no-repeat;
	background-position: center;
}

.topic {
	display: inline-block;
	text-align: center;
	width: 20vh;
	background-color: @c5;
	height: 65vh;
    margin: 0vh 3vh;
    padding: 10vh 2vh 0vh 2vh;
    vertical-align: middle;
    border: 2px solid white;
    cursor:pointer;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
    white-space: normal;
}

.topic > a {
	border: 2px solid white;
	padding: 2vh;
	transform:scale(0.95,0.95);
-ms-transform:scale(0.95,0.95); /* IE 9 */
-webkit-transform:scale(0.95,0.95); /* Opera, Chrome, and Safari */}

.topic.new:active {
	transform:scale(0.98,0.98);
	-ms-transform:scale(0.98,0.98); /* IE 9 */
	-webkit-transform:scale(0.98,0.98); /* Opera, Chrome, and Safari */
}

.fade {
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}

.topic.thin .fade {
	opacity: 0;
}

.topic.thick .fade {
	opacity: 1;
}

#quiz {
	text-align: center;
	margin-top: 100px;
}

#quiz input {
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
}

#asubmit {
	border-radius: 100000000000px;
	padding: 10px 40px;
	margin-top: 20px;
}

#asubmit:active {
	background-color: white;
	color: @c4;
}

#quiz #correction {
	margin: 0px;
	background-color: #bb535b;
	border: 1px solid white;
	color: white;
	transition: height 1s;
	-webkit-transition: height 1s;
	display: inline-block;
	width: 200px;
	overflow: hidden;
	height: 0%;
}

body {
	overflow-x: auto;
}

.topic img {
	margin-top: 15vh;
}

.topic.thick {
	width:35vh;
}

.topic.thin {
	width:20vh;
}

.adds {
	display: inline-block;
	vertical-align: center;
}

table#searchResults {
	border-spacing: 0px;
}

table#searchResults td {
	border: 1px solid white;
	padding: 1vw;
}

table#searchResults td:first-child {
	width: 10vw;
}

table#searchResults td:nth-child(2) {
	width: 20vw;
}

#answer {
	background-size: 15%;
	background-repeat: no-repeat;
	background-position-x: 260px;
}

#post-quiz {
	display: none;
	width: 45vw;
	height: 60vh;
	background-color: @c5;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40vh;
	transition: transform 1s;
	-webkit-transition: -webkit-transform 1s;
	transform: rotateX(360deg) scale(-45,-60);
	-webkit-transform: rotateX(360deg) scale(-45,-60);
}

.expandAndFlip {
	transform: rotateX(360deg) scale(0,0);
	-webkit-transform: rotateX(360deg) scale(0,0);

}